.about {
  margin-top: 10%;
}

.about p {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .about p {
    margin-left: 10%;
    margin-right: 10%;
  }
}