select {
    padding: 8px;
    border-radius: 8px;
}

button {
    padding: 4px;
    border-radius: 8px;
    border: none;
    margin: 2px;
}

.dailyProblem {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
}

.problemDesc {
    /* left side problem description panel */
    height: 100%;
    width: 50%;
    border: 1px solid #868076;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    margin-bottom: 16px;
    overflow: auto;
}

.rightColumn {
    /* right side code editor column */
    height: 100%;
    width: auto;
    margin-right: 8px;
}

.controlsContainer {
    /* stdin / controls panel on the left under the problem description */
    border: 1px solid #868076;
    padding: 8px;
    border-radius: 4px;
    margin: 8px;
}