.Error404 {
  width: 100%;
  height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-bottom: 58px;
}

.error {
  font-size: 10rem;
  margin-bottom: 30px;
}