.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  width: 30%;
  padding: 5px;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.card-title {
  text-decoration: none;
}

.card-title:hover {
  color: #E48257;
}

@media only screen and (max-width: 770px) {
  .project {
    width: 90%;
  }
}