.mainlogin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(550px + 10vh);
}

.loginCard {
  /* border: 2px solid #e48257;*/
  background-color: #2e2828;
  border-radius: 30px;
  max-width: 500px;
  width: 85%;
  /* height: 550px; */
  padding-bottom: 2.5rem;
}

.cardWrapper {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginCardWrapped {
  margin-top: 17px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
}

.tigerlogo {
  height: calc(50px + 5%);
  width: calc(50px + 5%);
  margin-top: 5%;
  margin-bottom: 3%;
  transition: opacity 0.3s ease;
}

.logo-dark {
  display: none;
}

[data-bs-theme="dark"] .logo-light {
  display: none;
}

[data-bs-theme="dark"] .logo-dark {
  display: block;
}

.enterTitle {
  font-size: 25px;
}

@media (max-width: 450px) {
  .enterTitle {
    font-size: 6vw;
  }

  .enterForm {
    margin-top: 3vw !important;
    /* width: 80% !important; */
  }
}

.enterForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  width: 80%;
  max-width: 300px;
}

.enterInput {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid #473f3f; /* keeps the border */
  background-color: transparent; /* transparent background */
  color: #a19090; /* text color */
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.enterInput:focus {
  outline: none;
  border: 2px solid #e48257; /* orange glow */
  box-shadow: 0 0 8px #e48257; /* optional glow */
}
.enterInput::placeholder {
  color: #a19090;
}

.enterInput::placeholder {
  color: #a19090; /* placeholder stays readable */
}

.enterSubmit {
  margin-top: 5px;
  border-radius: 10px;
  height: 40px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.enterActivated {
  background-color: #c1501f !important;
  color: white;
  border: none;
  cursor: pointer;
}

.enterDeactivated {
  background-color: #231f1f;
  color: #a0aec0;
  border: none;
  cursor: not-allowed !important;
}

.errMSG {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

.switchEnter {
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}

.btn-google {
  background-color: transparent;
  border: 1px solid var(--bs-border-color);
  color: var(--bs-body-color);
  transition: all 0.2s ease-in-out;
}

.btn-google:hover {
  background-color: #e48257;
  border-color: #c1501f;
  color: white;
}
