.mainlogin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(550px + 10vh);
}

.loginCard {
    /* border: 2px solid #e48257;*/
    background-color: #2e2828;
    border-radius: 30px;
    width: 500px;
    height: 550px;
    
}

.cardWrapper {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.loginCardWrapped {
    margin-top: 17px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: relative;
}

.tigerlogo {
    height: 15%;
    width: 15%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.enterTitle {
    font-size: 25px;
}

.enterForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.enterInput {

}