.logo {
  width: 50px;
}

.social-logo {
  width: 30px;
}

/* Navbar.css */
@media (max-width: 991.98px) {

  .navbar-collapse .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap; /* allows items to wrap if needed */
    justify-content: flex-start; /* align left */
    gap: 0.5rem; /* optional spacing between items */
  }

  .navbar-nav .nav-link {
    transition: color 0.3s;
  }

  .navbar-nav .nav-link:hover {
    color: #aaaaaa; /* change to your desired hover color */
  }

  .navbar-collapse .horizontal-navbar {
    flex-direction: row !important;
  }

  .navbar-collapse .navbar-nav .nav-item {
    margin-bottom: 0; /* remove default bottom margin */
  }
}
